// colours
$orange: #ee8a1d;
$gold: #d7ae79;
$yellow: #edb015;
$turqoise: #91c6b0;
$green: #205b28;
$charcoal-grey: #4a4a4a;
$dark-grey: #666;
$light-grey: #ededed;
$white: #fff;
$black: #000;

// breakpoints
$MobileMaxWidth: 767px;
$TabletMaxWidth: 1023px;

$contentMaxWidth: 1180px;

$mobileMainPadding: 65px;
$tabletMainPadding: 130px;
$desktopMainPadding: $tabletMainPadding;
