// colours
$orange: #ee8a1d;
$charcoal-grey: #4a4a4a;
$dark-grey: #666;
$light-grey: #ededed;
$white: #fff;
$black: #000;

// breakpoints
$MobileMaxWidth: 768px;
$TabletMaxWidth: 1024px;

$contentMaxWidth: 1180px;

$mobileMainPadding: 65px;
$tabletMainPadding: 130px;
$desktopMainPadding: $tabletMainPadding;
