// colours
$orange: #ee8a1d;
$dark-grey: #979797;
$light-grey: #ededed;
$white: #fff;
$black: #000;

// breakpoints
$MobileMaxWidth: 768px;
$TabletMaxWidth: 1024px;

$contentMaxWidth: 1180px;

$desktopMainPadding: 130px;
