h3.single-update-header {
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
}

h2.single-title {
  margin-bottom: 40px;
}

img.single-featured-image {
  margin-bottom: 30px;
  width: 100%;
  height: auto;
  object-fit: cover;
}
