.contact-inner {
  .contact-col {
    @include respond-to(tablet) {
      padding-right: 30px;
    }

    .contact-column-row {
      margin-bottom: 30px;

      @include respond-to(tablet) {
        &:last-child {
          margin-bottom: 0px;
        }
      }

      h3 {
        margin-top: 0;
      }

      a {
        word-wrap: break-word;
      }
    }
  }

  .contact-left-col {
    margin-bottom: 50px;
  }
}

.contact-details {
  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 40px;
  }

  @include respond-to(tablet) {
    margin-bottom: 0px;
  }

  @include respond-to(desktop) {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  img.contact-icon {
    width: 25px;
    height: auto;
    margin-bottom: 10px;
  }
}
