$articlePadding: 40px $mobileMainPadding;
$articlePaddingTablet: 45px $tabletMainPadding;
$articlePaddingDesktop: 70px $tabletMainPadding;

article {
  padding: $articlePadding;

  @include respond-to(tablet) {
    padding: $articlePaddingTablet;
  }

  @include respond-to(desktop) {
    padding: $articlePaddingDesktop;
  }
}
