button {
  border: none;
  padding: 15px 45px 16px 45px;
  background-color: $orange;
  color: white;
  font-family: $Futura;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.1px;
  outline: none;
  text-align: center;

  &.bg-white {
    color: $orange;
    background-color: $white;
  }

  &.button-icon {
    position: relative;
    padding-left: 30px;
    padding-right: 60px;

    &::after {
      content: url(' ../images/link-icon.svg ');
      position: absolute;
      right: 30px;
      top: 40%;
      transform: translateY(-50%);
      width: 13px;
      height: 13px;
    }

    &.bg-white {
      &::after {
        content: url(' ../images/link-icon-orange.svg ');
      }
    }

    &.download {
      &::after {
        content: url(' ../images/download-icon.svg ');
      }
    }
  }
}
