$tabletMegaMenuPadding: 40px;

.header-menu-wrapper {
  position: relative;

  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    cursor: pointer;

    &::after {
      content: url("../images/x-icon.svg");
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }

  .mega-menu-highlight-box {
    display: inline-block;
    margin: -5px;
    padding: 5px;
    cursor: pointer;

    .header-burger-menu-text {
      display: inline-block;
      vertical-align: top;
      margin-left: 10px;
      line-height: 1.2;

      @include respond-to-max(tablet) {
        display: none;
      }
    }
  }

  .mega-menu-menu-wrapper {
    display: none;
    position: absolute;
    left: -5px;
    top: 25px;
    z-index: 10;
    padding: 20px;
    width: 250px;
    background-color: $orange;

    @include respond-to(tablet) {
      padding: $tabletMegaMenuPadding;
    }

    .torque-mega-menu-item {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0px;
      }

      a {
        color: $white;
        font-weight: 300;
      }
    }

    .parent-items-wrapper {
      padding-right: 15px;

      @include respond-to(tablet) {
        padding-right: 25px;
      }

      .secondary-parent-items-wrapper {
        margin-top: 15px;
        border-top: 1px solid $black;
        padding-top: 15px;
      }

      .torque-mega-menu-parent-item {
        position: relative;

        .torque-mega-menu-item-has-children-marker {
          position: absolute;
          top: 10px;
          right: -30px;
          transform: translateY(-12px);
          width: 100px;
          height: 30px;
          text-align: right;

          &::after {
            content: "";
            display: inline-block;
            margin-right: 32px;
            border: solid $white;
            border-width: 0 3px 3px 0;
            padding: 3px;
            transform: rotate(-45deg);
          }
        }

        .mega-menu-child-items-wrapper {
          display: none;

          h3 {
            margin-top: 0;
            color: $white;
            text-transform: uppercase;

            @include respond-to-max(tablet) {
              display: none;
            }
          }
        }

        &:hover {
          margin-left: -$tabletMegaMenuPadding;
          border-left: 6px solid $white;
          padding-left: $tabletMegaMenuPadding - 6px;
        }

        &.children-open {
          .mega-menu-child-items-wrapper {
            @include respond-to-max(tablet) {
              display: block;
              padding: 5px 0px 5px 15px;
            }
          }
        }
      }
    }

    .children-items-wrapper {
      display: none;

      h3 {
        margin-top: 0;
        color: $white;
        text-transform: uppercase;

        @include respond-to-max(tablet) {
          display: none;
        }
      }

      @include respond-to-max(tablet) {
        display: none !important;
      }

      .mega-menu-child-items-wrapper {
        display: none;

        &.mega-menu-contact-details-wrapper {
          display: block;
          color: $white;

          .mega-menu-contact-details-address {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  &.active {
    .mega-menu-highlight-box {
      background-color: $orange;
      color: $white;

      .torque-burger-menu-line {
        background-color: $white;
      }
    }

    .mega-menu-menu-wrapper {
      display: block;
    }

    &.children-showing {
      .mega-menu-menu-wrapper {
        @include respond-to(tablet) {
          width: 500px;
        }
      }

      .parent-items-wrapper {
        @include respond-to(tablet) {
          border-right: 1px solid $black;
          padding-right: 24px;
          width: 50%;
        }
      }

      .children-items-wrapper {
        display: block;

        @include respond-to(tablet) {
          display: block;
          padding: 0 30px;
        }
      }
    }
  }
}
