.header-menu-wrapper {
  position: relative;

  .mega-menu-highlight-box {
    display: inline-block;
    margin: -5px;
    padding: 5px;

    .header-burger-menu-text {
      display: inline-block;
      vertical-align: top;
      margin-left: 10px;
      line-height: 1.2;

      @include respond-to-max(tablet) {
        display: none;
      }
    }
  }

  .mega-menu-menu-wrapper {
    display: none;
    position: absolute;
    left: -5px;
    top: 25px;
    z-index: 10;
    padding: 20px;
    min-width: 200px;
    background-color: $orange;

    .torque-mega-menu-item {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0px;
      }

      a {
        color: $white;
        font-weight: 300;
      }
    }

    .parent-items-wrapper {
      padding-right: 15px;

      .secondary-parent-items-wrapper {
        margin-top: 15px;
        border-top: 1px solid $black;
        padding-top: 15px;
      }

      .torque-mega-menu-parent-item {
        position: relative;

        .torque-mega-menu-item-has-children-marker {
          position: absolute;
          top: 10px;
          right: 0;
          transform: translateY(-50%);

          &::after {
            content: '';
            display: inline-block;
            border: solid $white;
            border-width: 0 3px 3px 0;
            padding: 3px;
            transform: rotate(-45deg);
          }
        }

        .mega-menu-child-items-wrapper {
          display: none;
        }

        &.children-open {
          .mega-menu-child-items-wrapper {
            display: block;
            padding: 5px 0px 5px 15px;
          }
        }
      }
    }
  }

  &.active {
    .mega-menu-highlight-box {
      background-color: $orange;
      color: $white;

      .torque-burger-menu-line {
        background-color: $white;
      }
    }

    .mega-menu-menu-wrapper {
      display: block;
    }
  }
}
